:host {
  display: block;
  max-width: 600px;

  margin: 2rem auto;
}

.title {
  text-align: center;
  font-family: "Comic Sans MS", cursive;
  color: #334155;
  margin-bottom: 1rem;
}


.notepad {
  background:
    repeating-linear-gradient(
      to bottom,
      #fff 0px,
      #fff 34px,
      #cfe3ff 35px
    );
 min-height: 100px;
  padding: 0px 20px 20px 50px;

  position: relative;

  border-radius: 0 0 12px 12px;

  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12);
}


.notepad::before {
  content: "";

  position: absolute;
  top: 0;
  bottom: 0;
  left: 35px;
  width: 2px;
  background: #ef4444;
}

.note-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 35px;

  font-family: "Segoe Print", cursive;
  font-size: 1.1rem;
}

.note-row span {
  flex: 1;
}

.delete-btn {
  width: 26px;
  height: 26px;

  border: none;
  border-radius: 50%;

  background: #fee2e2;
  color: #ef4444;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  font-size: 0.85rem;

  transition: all 0.2s ease;
}

.delete-btn:hover {
  transform: scale(1.2);
  background: #fecaca;
}
