

h1 {
  text-align: center;
  font-family: "Comic Sans MS", cursive;
  color: #334155;
  margin-bottom: 0;
}




input {
  width: 100%;

  border: none;
  background: transparent;

  font-size: 1.1rem;
  font-family: "Segoe Print", cursive;

  border-bottom: 2px solid #94a3b8;
}

input:focus {
  outline: none;
}


button {
  margin-top: 1rem;

  padding: 0.8rem 1.4rem;

  border: none;
  border-radius: 8px;

  background: #facc15;

  font-weight: bold;

  cursor: pointer;

  transition: 0.2s;
}

button:hover {
  transform: rotate(-1deg);
}

